extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Recover Password
        form(method='POST' action='/forgot')
          div.form-group
            label(for='email') Please type in your email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          button.btn.btn-primary(type='submit' value='Reset Password') GO
